
.button,
#displaymessage {
	color: black;
	background-color: white;
	border: none;
	font-family: 'Indie Flower', cursive;
	margin: auto;
	text-align: center;
	display: inline;
	font-size: 45px;
	margin-left: 30%;
	max-width: 100%
}


.container {
	display: inline-block;
/*	margin: 0 auto;
*/	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;	
}

.tile {
	height: 150px;
	width: 150px;
	display: inline-block;
	margin: 0 auto;
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
	border-radius: 5%;

}

.pics {

	height: 150px;
	width: 150px;
	margin: 0px auto;
	border-radius: 5%;
	max-width: 100%;
}
#font {
	font-family: 'Indie Flower', cursive;
	color: black;
	margin: auto;
	text-align: center;
}

#thecount {
	color: black;
	font-size: 20px;
}

/*Media Queries */
@media and (max-width: 1256px){
	.container {
		display: inline-block;
		margin-left: 25%;
		margin-right: 25%;
		margin: auto;
	}
}

/*ipad mini screen*/
@media screen and (max-width: 1250px) {

    .tile {
	    display: inline-block;
	    position: relative;
	    height: 120px;
		width: 120px;
		display: inline-block;
		position: relative;
		margin: 0px auto;
		border: 1px solid black;
		border-top: none;
		border-bottom: none;
		border-radius: 5%;

    }
    .container {
    	width: 400px;
    }
    .pics {
	    height: 120px;
		width: 120px;
		margin: 0px auto;
		border-radius: 5%;
    }
}

/*Iphone 6/6+ screen*/
@media screen and (min-width: 370px) and (max-width: 430px) {

    .tile {
		display: inline-block;
		position: relative;
		height: 75px;
		width: 75px;
		display: inline-block;
		position: relative;
		margin:  auto;
		border: 1px solid black;
		border-top: none;
		border-bottom: none;
		border-radius: 5%;

    }
    .container {
	    width: 75%;
	    margin-left: 25%;
	    margin-right: 25%;
	    max-height: 100%;
	    max-width: 100%;

    }
    .pics {
		height: 75px;
		width: 75px;
		margin: 0 auto;
		border-radius: 5%;
    }
}

